{% extends "base.html" %}


{% block head %}
<input type="text" id="save_submit_desc" value="{{submit_desc}}" style="display: none"/>

<el-row>
    <el-radio v-model="current_action" label="status">状态查询</el-radio>
    <el-radio v-model="current_action" label="add_one_instance">增加实例</el-radio>
    <el-radio v-model="current_action" label="delete_one_instance">删除实例</el-radio>
    <el-radio v-model="current_action" label="submit_task">提交任务</el-radio>
    <el-button
            type="primary" size="mini"
            @click.native="on_run()">
        运行
    </el-button>
</el-row>

{% endblock %}


{% block input_edit %}
<!--输入编辑框-->
<div id="input_editor" class="left_window"></div>

{% endblock %}



{% block output_edit %}
<!--输出框-->
<div id="output_editor" class="left_window" ></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: function () {
            let submit_desc = JSON.parse(document.getElementById('save_submit_desc').getAttribute('value'))
            return {
                current_action: 'status',
                modes: ['code', 'text', 'tree', 'preview'],
                input_editor: null,
                output_editor: null,
                // 预先设置的json
                predefine_json: {
                    "status": {
                        "desc": "不需要额外参数进行接口状态查询"
                    },
                    "add_one_instance": {
                        "desc": "gpu_id 参数指定gpu id , -1表示cpu",
                        "gpu_id": -1
                    },
                    "delete_one_instance": {
                        "desc": "删除某个实例, model_id为可选参数用于删除指定模型, model_id可运行状态获取",
                        "model_id": ''
                    },
                    "submit_task": submit_desc

                },
                fullscreenLoading: null

            }
        },
        mounted() {
            this.input_editor = this.create_editor(
                'input_editor',
                true,
                this.modes,
                'tree'
            )
            this.output_editor = this.create_editor(
                'output_editor',
                false,
                this.modes,
                'code'
            )
            this.input_editor.set(this.predefine_json[this.current_action])

            // Load a JSON document
            FileReaderJS.setupInput(document.getElementById('loadDocument'), {
                readAsDefault: 'Text',
                on: {
                    load: (event, file) => {
                        this.input_editor.set(JSON.parse(event.target.result))
                    }
                }
            })

            // 保存json文件
            // Save a JSON document
            document.getElementById('saveDocument').onclick = () => {
                // Save Dialog
                let fname = window.prompt("Save as...")

                // Check json extension in file name
                if (fname.indexOf(".") === -1) {
                    fname = fname + ".json"
                } else {
                    if (fname.split('.').pop().toLowerCase() === "json") {
                        // Nothing to do
                    } else {
                        fname = fname.split('.')[0] + ".json"
                    }
                }
                const blob = new Blob([this.output_editor.getText()], {type: 'application/json;charset=utf-8'})
                saveAs(blob, fname)
            }
            // 设置编辑器高度
            let total_height = (window.innerHeight || document.body.clientHeight) - 100
            console.log(total_height)
            document.getElementById('input_editor').style.height = total_height + 'px'
            document.getElementById('output_editor').style.height = total_height + 'px'

            // console.log(this.input_editor.get())
            // console.log( this.output_editor.session.getValue())
        },
        watch: {
            current_action(val, oldVal) {//普通的watch监听
                // console.log("current_action: "+val, oldVal);
                this.input_editor.set(this.predefine_json[val])
            },
        },
        methods: {
            create_editor(container, read_only, modes, mode) {
                // 创建编辑器
                let options = {
                    mode: mode,
                    modes: modes,
                    limitDragging: true,
                    onEditable: function () {
                        return read_only
                    }
                }

                let editor = new JSONEditor(
                    document.getElementById(container),
                    options
                )
                // editor.set({
                //     'array': [1, 2, 3],
                //     'boolean': true,
                //     'color': '#82b92c',
                //     'null': null,
                //     'number': 123,
                //     'object': {'a': 'b', 'c': 'd'},
                //     'time': 1575599819000,
                //     'string': 'Hello World',
                //     'onlineDemo': 'https://jsoneditoronline.org/'
                // })
                // ace.require("ace/ext/language_tools");
                // let editor = ace.edit(container,{
                //     theme: "ace/theme/tomorrow",
                //     mode: "ace/mode/json",
                //     autoScrollEditorIntoView: true,
                //     maxLines: 10000,
                //     minLines: 2
                // });
                // editor.session.setValue(JSON.stringify([{'example':1},{'example':2}],null,'\t'));
                // editor.setReadOnly(read_only);
                // document.getElementById(container).style.fontSize='18px';
                // editor.setHighlightActiveLine(true);
                // editor.setOptions({
                //     enableBasicAutocompletion: true,
                //     enableSnippets: true,
                //     enableLiveAutocompletion: true
                // });
                // editor.getSession().on('change',function (){
                //     console.log('有改变',editor.getSession().getValue())
                // })
                return editor
            },
            loadDocument() {
                document.getElementById('loadDocument').click()
            },
            // 提交任务
            on_run() {
                this.fullscreenLoading = this.$loading({
                    lock: true,
                    text: `正在执行: ${this.current_action}`,
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let options = this.input_editor.get()
                switch (this.current_action) {
                    case 'status':
                        this.on_action('获取api状态', get_model_pool_status, options)
                        break;
                    case 'add_one_instance':
                        this.on_action('增加实例',add_one_instance,options)
                        break;
                    case 'delete_one_instance':
                        this.on_action('删除实例',delete_one_instance,options)
                        break;
                    case 'submit_task':
                        this.on_action('提交任务',submit_task,options)
                        break;
                    default:
                        console.log(`未识别的action: ${this.current_action}`)
                }



            },
            //统一执行动作
            on_action(name, callback, options) {
                callback(options).done(res => {
                    this.output_editor.set(res)
                    let code = res['code']
                    if(code === 1){
                        this.$notify({
                            message: `${name} 执行错误! `,
                            type: 'error'
                        })
                    }else {
                        this.$notify({
                            message: `${name} 执行成功`,
                            type: 'success'
                        })
                    }
                    this.fullscreenLoading.close()

                }).fail((data) => {
                    console.log(data, data.responseJSON)
                    this.$notify({
                        message: `${name} 执行错误! `,
                        type: 'error'
                    })
                    if(typeof(data.responseJSON) != "undefined"){
                        this.output_editor.set(data.responseJSON.error)
                    }
                    else {
                        this.output_editor.set(data.responseText)
                    }
                    this.fullscreenLoading.close()

                });
            },
    }




    })
    </script>
{% endblock %}