<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!--引入jquery和echart-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='echarts.js') }}"></script>
</head>
<body>
<!--Step:1 为ECharts准备一个具备大小（宽高）的Dom-->
<h2> {{chain_info|safe}}<h2>
<div id="main" style="height:1000px;border:1px solid #ccc;padding:10px;"></div>

<!--Step:2 引入echarts.js-->

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'))
    var options;
//     console.log(options)
    // 时间戳转换
    function getLocalTime(nS) {  
 return new Date(parseInt(nS) * 1000).toLocaleString();  
};
    
    
   // 节点显示回调函数
    function node_formatter(params){
    let data = params.data;
    /*console.log('data.host',data.host,'data.parallel_num',data.parallel_num); */
    if(params.dataType == 'node'){
    let s = 'host: ' + data.host+ '<br>' + 'parallel_num: ' + data.active_parallel_num + '<br>' + 'model_path: ' + data.model_path + '<br>';
    s += '节点状态: ' + data.period + '秒内完成' + data.unit_time_completed + '批数据, ' + data.period + '秒内未完成' + data.unit_time_uncompleted + '批数据<br>';
    s += '节点总完成(未完成): ' + data.total_completed + ' (' + data.total_uncompleted + ')' + ' 批数据<br>';
    s += '内存占用: ' + data.memory + '<br>';
    s += '更新时间: ' + getLocalTime(data.update_time) + '<br>';
    s += '创建时间: ' + getLocalTime(data.launch_time) + '<br>';
    return s
    }else{
    let s = '队列名称: '+ data.source + '->' + data.target + '<br>';
    s += '队列大小: ' + data.q_size + '/' + data.maxsize + '<br>';
    s += `队列类型: ${data.q_type} <br> 地址: ${data.host}:${data.port} <br> `
    s += '更新时间: ' + getLocalTime(data.update_time)
    return s
    }
    };
    
    //边显示回调函数
    function label_show_fomatter(params){
           //console.log('label_show_fomatter',params);
     return params.data.q_size
    }
    
    function update_options() {
        console.log('正在更新options')
        $.post("/update_options",function(data,status){
        // 更新options
        options = data.options;
        
        options["series"][0]['edgeLabel']['formatter'] = label_show_fomatter;
        options['tooltip']['formatter'] = node_formatter;
//         console.log(options)
        myChart.setOption(options);

    });
}
    update_options();
    // 每个10秒刷新
    window.setInterval(update_options, 10000); 


</script>
</body>
</html>