{% extends "base.html" %}

{% block head %}

    <a id="download_stage_stage_a" style="display: none"></a>
<h2> {{chain_info}}</h2>
<!-- 上传stream按钮 -->
<el-row align="middle">
  <el-col :span="4" :push="4">
      <el-upload
  class="upload-demo"
  drag
  action
  :http-request="streamUpload"
  :before-upload="beforeStreamUpload"
  :limit="1"
  :file-list="fileList">
  <i class="el-icon-upload"></i>
  <div class="el-upload__text">将文件拖到此处，或<em>点击上传stream</em></div>
{#  <div class="el-upload__tip" slot="tip">只能上传1个json文件</div>#}
</el-upload>
    </el-col>

    <el-col :span="8" :push="8">
<!--         // 选择节点进行注入 -->
        <el-select v-model="selected_stage_node" filterable placeholder="上传前请先选择节点名称">
    <el-option
      v-for="item in stage_nodes"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
           <el-button type="primary" plain @click="download_stage_states()">点击下载执行结果</el-button>
    </el-col>

</el-row>



{% endblock %}

{% block script %}
    <script type="text/javascript">
    
    // var myChart = echarts.init(document.getElementById('main'))
    var options = {{echart_options| safe}};
//     console.log(options)
    // 时间戳转换
    function getLocalTime(nS) {  
 return new Date(parseInt(nS) * 1000).toLocaleString();  
};
    
    // 节点显示回调函数
    function node_formatter(params){
    let data = params.data;
    /*console.log('data.host',data.host,'data.parallel_num',data.parallel_num); */
    if(params.dataType == 'node'){
    let s = 'host: ' + data.host+ '<br>' + 'parallel_num: ' + data.parallel_num + '<br>' + 'model_path: ' + data.model_path + '<br>';
    return s
    }else{
    let s = '队列名称: '+ data.source + '->' + data.target + '<br>';
    return s
    }
    };


    // ELEMENT.Notification()
    // 每个10秒刷新
    // window.setInterval(update_options, 10000);
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                myChart : null,
                options: options,
                fileList: [], // 文件列表
                stage_nodes: [],
                selected_stage_node: null,
                current_stream_id: null,
                current_stream_run_done: true,
                timer:null,
                stage_states: null
            }
        },
        created:function (){
            // options 初始化
            this.options["series"][0]['edgeLabel']['show'] = false;
            this.options['tooltip']['formatter'] = node_formatter;
            // 获取stage_nodes
            for (let i=0;i<this.options["series"][0]['data'].length;i++){ 
                this.stage_nodes.push({
                    'lable':this.options["series"][0]['data'][i]['name'],
                    'value':this.options["series"][0]['data'][i]['name']
                })
            }

            {#console.log(this.stage_nodes)#}
        },
        mounted: function (){
            // this.myChart = echarts.init(document.getElementById('main'))
            this.myChart = echarts.init(document.getElementById('main'))
            this.updateOptions(this.options)


        },
       
        methods:{
            // 下载stream执行状态
            download_stage_states(){
                let url = URL.createObjectURL(new Blob([JSON.stringify(this.stage_states)],{type:'text/plain'}))
                {#let data_str = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(this.stage_states));#}
                let node = document.getElementById('download_stage_stage_a');
                node.setAttribute("href",url)
                node.setAttribute("download",`${this.current_stream_id}.json`)
                node.click()
            },
            query_stream_status(){
            // 查询stream执行状态
                console.log('正在查询结果')
            query_stream_status(this.current_stream_id).done(res=>{
            console.log('查询结果', res)
            res.options["series"][0]['edgeLabel']['show'] = false;
            res.options['tooltip']['formatter'] = node_formatter;
            this.updateOptions(res.options);
            // 当前状态
            this.stage_states = res.stage_states;

            if(!res.is_stream_finished){
                this.$notify({
                    message: `stream状态更新成功，目前有${Object.keys(res.stage_states).length} 节点完成, 更新时间${getLocalTime(new Date().getTime())}`,
                    type: 'success'

                });
                this.timer = setTimeout(this.query_stream_status,3000);
            }else{
                this.current_stream_run_done = true //
                this.$notify({
                    message: `stream计算完毕, 目前有${Object.keys(res.stage_states).length} 节点完成, 请点击按钮下载执行结果! 更新时间${getLocalTime(new Date().getTime())}`,
                    type: 'success'

                });
            }
            }).fail(data=>{
                console.log(data,data.responseJSON)
               this.$notify({
                    message: `查询stream错误! ${data.responseJSON.error}`,
                    type: 'error'
                })
           });         
    },
        
            updateOptions(ops){
                this.myChart.setOption(ops);
                this.$notify({
                    message: `链路状态更新成功, 更新时间${getLocalTime(new Date().getTime())}`,
                    type: 'success'

                })

            },
            beforeStreamUpload(){
                // 上传前检查格式
                if(this.selected_stage_node==null){
                    this.$notify({
                    message: `上传stream前请先选择节点名称`,
                    type: 'error'

                })

                    return false
                }else{
                    if(!this.current_stream_run_done){
                        this.$notify({
                    message: `有stream正在计算,请稍后再试`,
                    type: 'error'

                })
                        return false
                    }else{
                    
                    console.log('selected_stage_node', this.selected_stage_node)
                    return this.$confirm(`此操作向节点: ${this.selected_stage_node} 注入stream, 是否继续?`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                })
                    }
                    
                }
            },
           streamUpload(file){
               // 调用api上传文件
           console.log('开始上传')
           fileUpload(file,this.selected_stage_node).done(res=>{
           this.current_stream_run_done = false;
           this.current_stream_id = res.stream_id;
           this.stage_states = null;  // 重置状态
           this.$notify({
                    message: `上传stream成功, 正在计算...`,
                    type: 'success'

                })
           console.log('上传成功',res)
            // 启动定时任务, 间隔1秒执行任务
           this.timer = setTimeout(this.query_stream_status, 3000 );
      }).fail((data)=>{
               console.log(data,data.responseJSON)
               this.$notify({
                    message: `上传stream错误! ${data.responseJSON.error}`,
                    type: 'error'
                })
           });
           } 
        }
    })

</script>

{% endblock %}  


